<!DOCTYPE html><!--声明文档类型为HTML格式-->
<html lang="en"><!--声明当前页面的语言类型为英文-->
<head><!--头部开始-->
    <meta charset="UTF-8"><!--字符集编码包含在元信息标签中-->
    <title>Hello</title><!--标题用于显示在网页标题中-->
</head><!--结束头部-->
<body><!--实体部分-->
<div style="width: 80%">
<p>你好：{{ ip }}</p> <!--获取变量ip的值-->
<p>现在是 {{ now }}</p><!--获取变量now的值-->
</div><!--结束块区域-->

{% if  data %}<!--判断字典data是否为空 不为空则运行开始if语句-->
    <div style="border:1px solid #000; margin: 0 auto 20px; width: 100%; padding: 20px">
    {% for k, v in data.items %}<!--for循环遍历data字典的值 按照键值配对-->
        {% if k == 'name' %} 你的名字：{{ v }} <br/>{% endif %}<!--如果key==”name“获取对应value-->
        {% if k == 'password' %}你的密码：{{ v }} <br/> {% endif %}
        <!--如果key==”password“获取对应value-->
        {% if k == 'like' %}你喜欢：{% for n in v %}{{ n }}     {% endfor %}<br/> {% endif %}
        <!--如果key==”like“for循环遍历key 分别获取对应value-->
        {% if k == 'sex' %}你的性别：{{ v }} <br/> {% endif %}
        <!--如果key==”sex“获取对应value-->
        {% if k == 'fruit' %}你喜欢的水果：{{ v }} <br/> {% endif %}
        <!--如果key==”sex“获取对应value-->
    {% endfor %}<!--结束for语句-->
    </div>
{% endif %}<!--结束if语句-->

<div style="border:1px solid #000; margin: 0 auto 20px; width: 80%; padding: 20px">
<form method="post"><!--表单方法为post-->
    {% csrf_token %}<!--post方法中应该与安全认证有关-->
    <p>请输入你的消息</p><!--段落-->
    <p><label for="name">姓名</label>：<input name="name" value=""></p>
    <!--label标签不懂什么意思？ 后面默认input类型为text key为”name“ 值的初始值为空-->

    <p><label for="password">密码</label>：<input name="password" value="" type="password"></p>
    <!--label标签不懂什么意思？ 后面input类型为password key为”password“ 值的初始值为空-->

    <ul><!--此标签为无序标签圆圈标志 对应的为ol 数字标志-->
        <li>你喜欢女孩<input type="checkbox" name="like" value="girl"></li>
        <!--input类型为checkbox(复选框可以多选) 所有key为”like“同一个域 值可以多选-->
        <li>你喜欢男孩<input type="checkbox" name="like" value="boy"></li>
        <li>你喜欢女人<input type="checkbox" name="like" value="woman"></li>
        <li>你喜欢男人<input type="checkbox" name="like" value="man"></li>
    </ul><!--结束此标签-->

    <p>你的性别:</p>
    <p>
        男：<input type="radio" name="sex" value="男">
    </p>
    <p>
        女：<input type="radio" name="sex" value="女">
    <!--input类型为单选 key值为”sex“ 两个单选为同一域 值值只能单选-->   
    </p>

    <p>
        你喜欢吃的水果:
        <select name="fruit">
            <option value="苹果">苹果</option>
            <option value="葡萄">葡萄</option>
            <option value="梨子">梨子</option>
        </select>
        <!--下拉选择框 键为”fruit“ 值为对应的选择-->
    </p>


    <input type="submit" value="提交">
    <!--input类型为”submit“ 提交表单 窗口名称为”提交“-->
</form>  <!--结束表单-->
</div>   <!--结束块-->
</body>  <!--结束实体内容-->
</html>  <!--结束html-->